/**
  The actual required code in order to get full height AppComponent.
**/
/**
  The actual required code in order to get full height AppComponent.
**/
div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
/**
  This adds Sticky Footer layout.
**/
.sticky-footer-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

app-header {
  background: #e91e63;
  padding: 15px;
  text-align: center;
}

router-outlet {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

app-footer {
  background: #e91e63;
  padding: 15px;
  text-align: center;
}

.tab { margin-left: 40px; }