<!-- <h3></h3> -->
<!-- <h3></h3> -->

<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ destination.name }}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image src="{{ destination.image }}">
  <mat-card-content>
    <p>
      {{ destination.description }}
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>

<audio controls style="width: 100%;
margin: 0 auto;">
    <source src="assets/audio/malaysia_intro.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div class="map" id="map" style="height:300px" ></div>
