<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="card">

  <mat-card-header>
    <!-- <mat-card-title>{{ subtitle }}</mat-card-title> -->
    <!-- <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image alt="Visit Malaysia" src="./assets/image/logo.jpg">
  <mat-card-content>
    <p>
      To know Malaysia is to love Malaysia - a bubbling, bustling melting-pot of races and religions where Malays, Indians,
      Chinese and many other ethnic groups live together in peace and harmony. Our multiculturalism has made Malaysia a
      gastronomical paradise and home to hundreds of colourful festivals. 
      </p>
  </mat-card-content>
</mat-card>

<!-- <h1 class="mat-display-1">Destinations </h1> -->

<button mat-raised-button color="primary" class="button" [routerLink]="['/destinations']" >Top 10 KL</button>
<button mat-raised-button color="primary" class="button" style="float: right;">Exotic Travel</button>
<mat-divider></mat-divider>


